/* general */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ex-padding{
    padding: 0 15%;
}






/* header */

header{
    background-color: rgb(255,105,0);
    height: 100px;
    width: 100%;
    position: fixed;
    top: 0px;
    left: 0;
}

.head-nav{
    height: 100px;
}


.left-menu > a{
    color: white;
    font-weight: 700;
    font-size: 18px;
    margin-right: 10px;
}

.logo{
    width: 200px;
}

.right-menu{
    color: white;
    word-spacing: 5px;
}






/* main */

.article{
    position: relative;
}

.heart{
    position: absolute;
    top: 0;
    right: 0;
}

.disc{
    position: absolute;
    bottom: 0;
    left: 0;
}

.label{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

.flex-art{
    display: flex;
    align-items: flex-start;
    gap: 10px;
}






/* footer */

.footer-padding{
    padding-top: 20px;
    padding-bottom: 20px;
}







/* debug */
/* 
.a{
    background-color: red;
    border: solid black;
    width: 100%;
    height: 200px;
}

.b{
    background-color: blue;
    border: solid black;
    width: 100px;
    height: 100px;
}

.c{
    background-color: yellow;
}

.d{
    background-color: green;
    border: solid black;
    width: 10px;
    height: 10px;
} */