/* general */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ex-padding{
    padding: 0 15%;
}





/* header */







/* main */








/* footer */

.footer-padding{
    padding-top: 20px;
    padding-bottom: 20px;
}







/* debug */

.a{
    background-color: red;
    border: solid black;
    width: 100%;
    height: 200px;
}

.b{
    background-color: blue;
    border: solid black;
    width: 100px;
    height: 100px;
}

.c{
    background-color: yellow;
}